<span class="@(IsCompleted ? "text-decoration-line-through" : "text-decoration-none")">
    @if (Ingredient.GroupName != null)
    {
        <span class="badge rounded-pill @_styles[GroupIndex] align-content-end">@Ingredient.GroupName</span>
        <text>&nbsp;</text>
    }
    <span>@Ingredient.Name</span>
    <QuantityDisplay quantity="@GetQuantity(Ingredient)" />
    @if (Ingredient.Alternative != null)
    {
        <span class="badge bg-dark">LUB @Ingredient.Alternative</span>
    }
</span>