@if (_isEdit)
{
    <div class="container">
        <div class="row">
            <div class="col col-3">
                <InputText 
                    @bind-value="_updatedIngredient.Name" 
                    class="form-control form-control-sm"
                    />
            </div>
            <div class="col col-1">
                <QuantityEdit 
                    Quantity="_updatedIngredient.Quantity" 
                    UpdateClicked="UpdateQuantity" />
            </div>
            <div class="col col=1">
                <UnitEdit 
                    Unit="_updatedIngredient.Unit" 
                    UpdateClicked="UpdateUnit" />
            </div>
            <div class="col col-1">
                <InputText
                    @bind-value="_updatedIngredient.GroupName"
                    class="form-control form-control-sm" />
            </div>
            <div class="col col-1">
                <InputNumber
                    class="form-control form-control-sm"
                    TValue="int?"
                    Value="_updatedIngredient.Alternative"
                    ValueExpression="() => _updatedIngredient.Alternative"
                    ValueChanged="value => { ChangeAlternativeValue(value); }" />
            </div>
            
            <div class="col col-5">
                <div class="input-group mb-3">
                    <button
                        type="button"
                        class="btn btn-sm"
                        @onclick="@(async () =>
                                  {
                                      await UpdateClicked.InvokeAsync(_updatedIngredient);
                                      _isEdit = false;
                                  })"
                        title="zapisz">
                        ✅
                    </button>
                    <button
                        type="button"
                        class="btn btn-sm"
                        @onclick="@(async () =>
                                  {
                                      await DeleteClicked.InvokeAsync(Index);
                                      _isEdit = false;
                                  })"
                        title="usuń">
                        🗑️
                    </button>
                    <button
                        type="button"
                        class="btn btn-sm"
                        @onclick="@(() => { _isEdit = false; })" 
                        title="anuluj">
                        ❌
                    </button>
                </div>      
            </div>
        </div>
    </div>
}
else
{
    <div class="input-group mb-1">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind-value="_isCompleted" id="@Ingredient?.Name">
            <label class="form-check-label" for="@Ingredient?.Name">
                <IngredientDisplay
                    Ingredient="@Ingredient" 
                    GroupIndex="GroupIndex"
                    IsCompleted="@_isCompleted"/>
            </label>
        </div>
        @if (ShowEditButtons)
        {
            <button type="button"
                    class="btn btn-sm"
                    @onclick="Edit">
                🖊️
            </button>
        }
    </div>
}