@page "/recipe/{Guid}"
@inject IRecipesReadRepo RecipesRepo
@attribute [StreamRendering]

@rendermode InteractiveServer

@if(Recipe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container" b>
        <div class="row gy-2 g-2">
            <div class="col-sm-12">
                <h2>@Recipe.Summary</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Składniki</h5>
                        <ul class="list-group list-group-flush">
                            @foreach (var ingredient in Recipe.Ingredients)
                            {
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="@ingredient.Name">
                                        <label class="form-check-label" for="@ingredient.Name">
                                            <IngredientDisplay ingredient="@ingredient" />
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-2 g-2">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Co robić</h5>
                        <ul class="list-group list-group-flush">
                            @{ int i = 0; }
                            @foreach (var step in Recipe.Steps)
                            {
                                {
                                    i++;
                                }
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="step@(i)">
                                        <label class="form-check-label" for="step@(i)">
                                            @step.Description
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}